*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 150%;
  }

body{
    font-family: "Roboto", sans-serif;
}

aside{
    width: 20%;
}

main{
    width: 80%;
    background-color: rgb(241, 235, 235);
}

h2{
    text-align: center;
}

#links .no-bg{
    width: 30%;
    font-size: 1.5rem;
    background: none;
    border: none
}

#links button i{
    margin-right: 5px;
}

.hidden{
    display: none;
}

.sauce:hover{
    opacity: 0;
}

.blog-class, .dates-class{
    display: block;
}

#logout-btn{
    position: fixed;
    bottom: 5%;
    left: 5%;
}

.add-article, .add-date, .edit-article-class, .edit-date-class{
    display: flex;
}

#add-article-button-page, #add-date-button-page{
    width: 100px !important;
margin-left: 82.2%;
border-radius: 10px !important;
height: 30px !important;
}

#edit-button, #delete-button{
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}

#edit-button, #delete-button{
    border: none;
    -webkit-box-shadow: 2px 10px 9px -4px rgba(74,74,74,0.66);
-moz-box-shadow: 2px 10px 9px -4px rgba(74,74,74,0.66);
box-shadow: 2px 10px 9px -4px rgba(74,74,74,0.66);
}

#edit-button:hover{
    border: 2px solid rgb(50, 160, 50) !important;
    background-color: rgb(241, 235, 235);
    color: rgb(50, 160, 50);
}

#delete-button:hover{
    border: 2px solid rgb(173, 66, 66) !important;
    background-color: rgb(241, 235, 235);
    color: rgb(173, 66, 66);
}

.btn-outline-info:hover{
    color: white;
}

.spin{
    animation: spin linear 1s infinite;
}

@keyframes spin{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 1024px) {
    body{
        flex-direction: column;
    }

    aside{
        flex-direction: row;
        width: 100%;
        height: 50vh !important;
    }

    aside img{
        display: none;
    }

    #links{
        width: 100%;
        align-items: center;
        margin-top: 30px !important;
        height: 50px !important;
    }

    #blog-button, #dates-button{
        text-align: center !important;
    }

    #logout-btn{
        position: relative !important;
        margin: auto;
        margin-top: 10px;
        width: 138px !important;
        }

    main{
        width: 100%;
    }

    table tr{
        height: 10px;
    }

    table td{
        overflow: scroll;
    }

    table img{
        width: 0px;
    }
}