body{
    background: url("../images/home-bg.png");   
}

main{
    font-family: "Futura";
    color: white;
}

.reserve-btn{
    font-size: 1.5rem;
    width: 380px;
    height: 80px;
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid #E7498D;
    transition: 0.3s;
}

.reserve-btn:hover{
    background-color: #E7498D;
}

.event-btn{
    width: 370px;
    height: 60px;
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid #89358B;
    transition: 0.3s;
    font-size: 1.5rem;
}

.event-btn:hover{
    background-color: #89358B;
}

.card{
    margin: 25px;
    width: 440px;
    height: 490px;
    background: rgb(0, 0, 0, 0);
    border: none;
    overflow: hidden;
}

.card p{
    width: 370px;
    height: 110px;
    margin: 0;
    background-color: #000B35;
    color: white;
    padding: 5px;
}

.card .img{
    background: rgb(0, 0, 0, 0);
    border: 1px solid white;
    width: 440px;
    height: 335px;
    overflow: hidden;
}

.blog-btn, .preorder-btn{
    font-size: 1.5rem;
    width: 370px;
    height: 60px;
    background-color: #89358B;
    border: 2px solid #89358B;
    transition: 0.3s;
}

.blog-btn:hover, .preorder-btn:hover{
    background-color: rgb(0, 0, 0, 0);
}

.text-tracklist h2{
    font-size: 1rem;
}

.text-tracklist h3{
    font-size: 1rem;
}

.insta-lafemme{
    margin-top: 150px;
    margin-bottom: 150px;
}

.insta-lafemme h2{
    margin-bottom: 130px;
}

.insta-lafemme > a{
    margin-bottom: 100px;
}

.insta-lafemme > div img{
    width: 100px;
}